<h1>トーク編集</h1>

<%= form_with model: @talk, url: talk_path, local: true do |f| %>
  <%= inform_validation_error @talk %>
  <%= f.label :title %>
  <%= f.text_field :title, class:"form-control" %>
  <%= f.label :slide_url%>
  <%= f.text_field :slide_url, class:"form-control" %>
  <%= f.label :movie_url %>
  <%= f.text_field :movie_url, class:"form-control" %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
