<h1>新規トーク作成</h1>

<%= form_with url: event_talks_url(event_id: params[:event_id]) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :slide_url%>
  <%= f.text_field :slide_url %>
  <%= f.label :movie_url %>
  <%= f.text_field :movie_url %>
  <%= f.submit %>
<% end %>
