<h1><%= @talk.title %></h1>
<% if current_user.id == @talk.user_id %>
  <div class="dropdown", style="float: right">
<!--    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
<!--      トーク設定-->
<!--    </button>-->
<!--    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">-->
<!--      <li><%#= link_to("編集", edit_talk_path, class: "dropdown-item") %></li>-->
<!--      <li><%#= link_to("削除", talk_path(@talk), method: :delete, class: "dropdown-item", style: "color: #ff0000") %></li>-->
<!--    </ul>-->
    <%= link_to(edit_talk_path, title: "トーク編集") do %>
      <span class="fa fa-edit" style="font-size:30px; margin-right: 20px"></span>
    <% end %>
    <%= link_to(talk_path(@talk), method: :delete, title: "トーク削除",data:
        { confirm: "本当にトークを消す？",
          cansel: "やめる",
          commit: "消す"}) do %>
      <span class="fa fa-trash" style="font-size: 30px; color: gray"></span>
    <% end %>
  </div>
<% end %>

<p>イベント名 : <%= link_to(@talk.event.title, event_path(@talk.event)) %></p>
<% unless @talk.slide_url.blank? %>
  <%= link_to("スライド", @talk.slide_url, target: "_blank") %>
<% end %>
<% unless @talk.movie_url.blank? %>
  <% if youtube_link?(@talk.movie_url) %>
    <%= link_to("動画", @talk.movie_url, target: "_blank") %>
    <%= make_youtube_tag(@talk.movie_url) %>
  <% else %>
    <%= link_to("動画(youtube以外)", @talk.movie_url, target: "_blank") %>
  <% end %>
<% end %>
<p>
  発表者:
  <%= link_to(@talk.user.name, user_path(@talk.user)) %>
</p>
&emsp;
  <div style="color: gainsboro">
    <% unless @talk == @talks.order(:sequence).first %>
      <a href="/talks/<%= @talks.find_by(sequence: (@talk.sequence - 1)).id %>">
        <i class="fas fa-chevron-circle-left"></i>前の発表
      </a>
    <% else %>
      <i class="fas fa-chevron-circle-left"></i>前の発表
    <% end %>
    &emsp;
    <% unless @talk == @talks.order(:sequence).last %>
      <a href="/talks/<%= @talks.find_by(sequence: (@talk.sequence + 1)).id %>"  title="次の発表">
        次の発表<i class="fas fa-chevron-circle-right"></i>
      </a>
    <% else %>
      次の発表<i class="fas fa-chevron-circle-right"></i>
  <% end %>
  </div>

<br><br>

<p>感想</p>
<% unless UserEvent.where(user_id: current_user.id, event_id: @talk.event_id).empty? %>
<% unless current_user.id == @talk.user_id %>
<%=  form_with url: talk_reviews_path(talk_id: @talk.id) do |f| %>
  <%= f.text_area :comment, style: "width: 400px" %>
  <%= f.submit "投稿", class: "btn btn-primary" %>
<% end %>
<% end %>
<% end %>
<ul>
<% @reviews.each do |review| %>
  <li class="review" data-id="<%= review.id %>">
    <%= review.comment %>
    <%= link_to("削除", review, method: :delete) if current_user.id == review.user_id %>
  </li>
<% end %>
</ul>
<style>
.review{
}
</style>
