<h1><%= @talk.title %></h1>
<% if current_user.id == @talk.user_id %>
  <div class="dropdown", style="float: right">
    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      トーク設定
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><%= link_to("編集", edit_talk_path, class: "dropdown-item") %></li>
      <li><%= link_to("削除", talk_path(@talk), method: :delete, class: "dropdown-item", style: "color: #ff0000") %></li>
    </ul>
  </div>
<% end %>

<p>イベント名 : <%= link_to(@talk.event.title, event_path(@talk.event)) %></p>
<% unless @talk.slide_url.blank? %>
  <%= link_to("スライド", @talk.slide_url, target: "_blank") %>
<% end %>
<% unless @talk.movie_url.blank? %>
  <%= link_to("動画", @talk.movie_url, target: "_blank") %>
<% end %>
<p>発表者:<%= link_to(@talk.user.name, user_path(@talk.user)) %></p>

<br><br>

<p>感想</p>
<% unless UserEvent.where(user_id: current_user.id, event_id: @talk.event_id).empty? %>
<% unless current_user.id == @talk.user_id %>
<%=  form_with url: talk_reviews_path(talk_id: @talk.id) do |f| %>
  <%= f.text_area :comment, style: "width: 400px" %>
  <%= f.submit "投稿", class: "btn btn-primary" %>
<% end %>
<% end %>
<% end %>
<ul>
<% @reviews.each do |review| %>
  <% if current_user.id == review.user_id %>
    <li><%= review.comment %>
      <%= link_to("削除", review, method: :delete) %></li>
  <% else %>
    <li><%= review.comment %></li>
  <% end %>
<% end %>
</ul>
