<h1>新規登録</h1>
<%= form_with model: @user, local: true do |f| %>
  <%= inform_validation_error @user %>
  <%= f.label :name %>
  <%= f.text_field :name, class:"form-control" %>
  <%= f.label :password%>
  <%= f.password_field :password, class:"form-control" %>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, class:"form-control" %>
  <%= f.submit class: "btn btn-primary"%>
<% end %>
