<h1><%= @user.name %></h1><br>
<div class="gyogae">
  <%= @user.status %>
</div><br>
<ul class="nav justify-content-end">
  <% if current_user.id == @user.id %>
  <li class="nav-item">
    <%= link_to("ユーザー編集", edit_user_path, class:"nav-link") %>
  </li>
    <% end %>
</ul>
<h2>発表一覧</h2>
<table class="table table-hover">
  <thead>
  <tr>
    <th>タイトル</th>
    <th>イベント名</th>
  </tr>
  </thead>
  <tbody>
  <% @talks.each do |talk| %>
    <tr>
      <td>
        <%= link_to(talk.title,  talk_path(id: talk.id)) %>
      </td>
      <td>
        <%= link_to(talk.event.title, event_path(id: talk.event_id)) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>