<h1>新規作成</h1>

<%= form_with model: @event do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :start_time %>
  <%= f.datetime_select :start_time, {} %>
  <%= f.label :end_time %>
  <%= f.datetime_select :end_time, {} %>
  <%= f.label :location %>
  <%= f.text_field :location %>
  <%= f.submit %>
<% end %>

