<h2><%= @event.title %></h2>
<p><b>開催日時</b> : <%= @event.start_time.strftime("%Y-%m-%d %H:%M:%S") %>~
<% if @event.end_time.to_date == @event.start_time.to_date %>
  <%= @event.end_time.strftime("%H:%M:%S")%>
<% else %>
  <%= @event.end_time.strftime("%Y-%m-%d %H:%M:%S")%>
<% end %><br>
  <b>会場</b> : <%= @event.location %></p>

<ul class="nav justify-content-end">
  <% if UserEvent.where(user_id: current_user.id, event_id: params[:id]).empty? %>
  <li>
    <%= button_to(event_join_path(@event), class: "btn btn-success nav-link") do %>
      <i class="fas fa-user-plus">&emsp;参加する</i>
    <% end %>
  </li>
  <% else %>
    <li class="nav-item">
      <%= button_to(event_drop_path(@event), class:"btn btn-danger nav-link", method: :delete, data:
                    { confirm: "本当に参加をやめますか？トークがある場合はそれも消えてしまい、感想なども消えてしまいます。",
                     verify: "#{current_user.name}",
                     verify_text: "削除する場合はUsernameを入力してください",
                     cansel: "やめる",
                     commit: "抜ける"}, title: "抜ける") do%>
        <i class="fas fa-user-minus" style="font-size: 20px"></i>
      <% end %>
    </li>
    &emsp;
    <% if current_user.admin %>
      <li class="nav-item">
        <%= button_to(event_shuffle_path(@event), class: "btn btn-success nav-link") do %>
          <i class="fas fa-random">&emsp;シャッフル</i>
        <% end %>
      </li>
    <% end %>    &emsp;
      <li class="nav-item" >
        <%= link_to(edit_event_path(@event), class: "btn btn-primary nav-link") do %>
          <i class="fas fa-edit">イベント編集</i>
        <% end %>
      </li>
  <% end %>
</ul>

  <table class="table table-hover">
    <thead>
    <tr>
      <th>タイトル</th>
      <th>発表者</th>
    </tr>
    </thead>
    <tbody>
    <% @talks.each do |talk| %>
   <tr>
     <td>
       <%= link_to(talk.title,  talk_path(id: talk.id)) %>
     </td>
     <td>
       <%= link_to(talk.user.name, user_path(talk.user)) %>
     </td>
   </tr>
    <% end %>
    <% unless UserEvent.where(user_id: current_user.id, event_id: params[:id]).empty? %>
    <tr>
      <td colspan="2", align="center">
        <a href="/events/<%= @event.id %>/talks/new" style="font-size: 20px" title="トーク作成">
          <i class="fas fa-plus"></i>
        </a>
      </td>
    </tr>
    <% end %>
    </tbody>
  </table>

<table class="table table-hover">
  <thead>
  <tr>
    <th>聞くだけ〜(・ ω ・ )</th>
  </tr>
  </thead>
  <tbody>
  <% @joins.each do |member| %>
  <% if Talk.find_by(user_id: member.user.id, event_id: @event.id).blank? %>
    <tr>
      <td>
        <%= link_to(member.user.name,  user_path(id: member.user.id)) %>
      </td>
    </tr>
  <% end %>
  <% end %>
  </tbody>
</table>
