<h2><%= @event.title %></h2>
<ul class="nav justify-content-end">
  <li>
    <% if current_user.admin == true %>
      <%= button_to("シャッフル", event_shuffle_path(@event), class: "btn btn-success") %>
    <% end %>
  </li>
  <li class="nav-item" >
    <%= link_to("イベント編集", edit_event_path(@event), class:"nav-link") %>
  </li>
  <li class="nav-item">
    <%= link_to("新規トーク作成", new_event_talk_path(event_id: @event.id), class:"nav-link")  %>
  </li>
  <li class="nav-item">
    <%= link_to("一覧へもどる", events_path, class:"nav-link") %>
  </li>
</ul>

  <table class="table table-hover">
    <thead>
    <tr>
      <th>タイトル</th>
      <th>名前</th>
    </tr>
    </thead>
    <tbody>
    <% @talks.each do |talk| %>
   <tr>
     <td>
       <%= link_to(talk.title,  talk_path(id: talk.id)) %>
     </td>
     <td>
       <%= link_to(talk.user.name, user_path(talk.user)) %>
     </td>
   </tr>
    <% end %>
    </tbody>
  </table>

