<nav class="navbar navbar-expand-sm navbar-dark bg-dark mt-3 mb-3">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container">
    <%= link_to 'LT Manager', root_path, class: 'navbar-brand' %>
    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav">
        <% if current_user.nil? %>
          <li class="nav-item">
            <%= link_to 'Login', login_path, class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "陰キャ一覧", users_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "LT一覧", events_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to current_user.name, user_path(id: current_user), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Logout', logout_path, method: :delete, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
